<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxFormatter:{}}" -->
<meta name="ac:route" content="/">
<dmx-serverconnect id="scImages" url="/api/galleries/images/read"></dmx-serverconnect>
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h1>Image Galleries</h1>
        </div>
    </div>
    <div class="row row-cols-4 gy-4" is="dmx-repeat" id="repeatImages" dmx-bind:repeat="scImages.data.query">
        <div class="col">
            <div class="card">
                <img class="card-img-top" alt="Card image cap" dmx-bind:src="'/assets/images/'+image">
            </div>
        </div>
    </div>
</div>